.log-in-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    background-color: #FF5D73;
    border-radius: 10px;
}
.log-in-container span{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    color: #494949;
}
.log-in-container span input{
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #FFF; 
}
.log-in-container button{
    width: 30%;
    margin-left: auto;
    margin-bottom: 20px;
    border: 0;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all;
    border: 1px solid #FFF;
}
.log-in-container button:hover{
    background-color: transparent;
    color: #FFF;
}
.log-in-container p{
    text-align: center;
    font-size: 14px;
}
.log-in-container p strong{
    transition: 0.5s all;
    cursor: pointer;
}
.log-in-container p strong:hover{
    text-decoration: underline;
}